.section-1-wrapper{
    background-color: #1f2937;
    padding-bottom: 70px;
}

.section-1 {
    
    
    max-width: 1080px;
    margin: auto;
}



.header-pic{

    max-width: 50px;
    height: auto;


}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center ;
    



}

.header-logo{
   
    font-size: 24px;
    color: #F9FAF8;
}

.title-section{
    display: flex;
    padding-top: 60px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
    
}

.left-title h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin: 0;
}

.left-title p{
    font-size: 23px;
    color: #E5E7EB;
    
}
#sign-up{
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 8px;
    width: 175px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}
.nav-links a{
    font-size: 25px;
    color: #E5E7EB;
    
    
}
.nav-links{
    
    display: flex;
    gap: 35px;
    align-items: center;
}

.left-title{
   
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  
 
  
  
}

.main-img{
    width: 1278px;
    height: 318px;
}
/* Section 2 */

.section-2{
    max-width: 1080px;
    margin:auto;
    padding: 50px;
}
.section-title{
    padding: 34px;
    display: flex;
    justify-content: center;
    
}
.section-title h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
  
    
}

.option-images{
    display: flex;
    justify-content: center;
    
}
.image{      display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-width: 0;}

.image img{
    width: 165px;
    height: 165px;
    border-radius: 8px;
    border-color: #3882f6;
    border: 5px solid #3882f6;
    
    
}

/* section 3 */

.section-3-wrapper{
    background-color: #E5E7EB;
    padding: 30px;
}
.section-3{
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin: auto;
    padding: 58px;
}

.big-quote h1{
    font-size: 36px ;
    font-style:italic;
    font-weight: lighter;
    color: #1f2937;
     
}

.author{
    align-self: flex-end;
}

.author p{
    font-size: 20px;
    color: #1f2937;
    font-weight: bold;
}
.card{
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    max-width: 1080px;
    justify-content:space-around;
    margin: auto;
    padding: 20px;

}
.card h4{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.card p{
    font-size: 20px;
    
    color: #E5E7EB;
}
.button-card{
    align-self: center;
}

.button-card button{
    border-radius: 8px;
    font-size: 22px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 5px 25px;
    border: 5px solid;
}

.section-4-wrapper{
    padding: 40px;
}

